/*
  CRIADO POR: GUILHERME HENRIQUE PORTO DOS SANTOS
  EMAIL: guilhermeportosantos1@gmail.com
*/
.backgroundModalError{
    background-color: rgba(0, 0, 0, 0.159);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 400;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.errorModal{
    width: 30%;
    height: 40%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
}

.errorModal img{
    width: 20%;
}

.closeModalErrorButton{
    width: 30%;
    height: 2rem;
    border-radius: 5px;
    background-color: #325EA1;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}